.login-window {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #587983;
}

.login-block {
    background-color: white;
    margin: auto;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.login-block__input {
    height: 32px;
    padding: 8px 8px 8px 8px;
    border: 1px solid #ced4da;
    margin-bottom: -1px;
}

.login-block__login-input {
    border-radius: 4px 4px 0 0;
}

.login-block__login-password {
    border-radius: 0 0 4px 4px;
}

.login-block__buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.login-block__button {
    padding: 16px;
    border: 1px solid #ced4da;
    margin-top: 4px;
    border-radius: 4px;
}

.login-block__primary-button {
    background-color: #fae8da;
}

.login-block__secondary-button {
    background-color: #cfd3ca;
}