.message-user-group__message-row {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
}

.message-user-group__message-text {
    text-align: start;
    white-space: pre-wrap; /* Фикс для отрисовки новой строки через \n */
}